body {
    background: rgb(172, 172, 172);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 20px;
}

input {
    width: 400px;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px 5px 0 0;
}

.lista {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 400px;
    background: white;
}

.tarea:hover {
    background: wheat;
}

.tarea span:last-child {
    opacity: 0;
    cursor: pointer;
    color: red;
}

.tarea:hover span:last-child {
    opacity: 1;
}

.tarea:last-child{
    border-bottom: none;
}

.tarea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px;
    font-size: 18px;
}
.contador {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    text-align: center; /* centra el texto */
}